.right-plate__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.right-plate__sub-elements{
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
}
.right-plate__footer{
    margin-top: 72px;
    height: 53px;
    border-radius: 10px;
    background: linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%);
    border: none;
    width: 100%;
}
.right-plate__footer:hover {
    background-color: white;
}



.right-plate__popup{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
}
.right-plate__popup.open{
    visibility: visible;
    opacity: 1;
}

